@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

* {
    font-family:Inter ;
    color: white;
}

/* Shared Style */
.display-flex {
    display: flex;
}
.p-color {
    background-color: #E6533C;
    color: white;
}
.btn {
    color: white;
    border-radius: 50px;
    border: none;
    padding: 20px 40px;
    background-color: #E6533C;
}
.section-title{
    font-size: 3rem;
    font-weight: 900;
}
.secondery-title {
    font-size: 28px;
    font-weight: 900;
}
.align-center{
    text-align: center;
}
.align-left {
    text-align: left;
}
.description {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF80;
}
.width75 {
    width: 75%;
    margin: auto;
}

i.fa-solid.fa-bars {
    display: none;
}
.calc-container, .team-container, #footer {
    max-width: 1060px;
    margin: auto;
}

/* header */
header {
    background: linear-gradient(0deg, rgb(70 70 70 / 42%), rgb(119 119 119 / 0%) 100%);
    position: relative;
}
.header-container {
    max-width: 1060px;
    margin:auto;
}
a{
    text-decoration: none;
}
nav {
    align-items: center;
    justify-content: space-between;
}
nav .nav-menu > ul {
    align-items: center;
    justify-content: space-between;
    gap: 45px;
    border: 1px solid rgba(131, 124, 124, 0.274);
    border-radius: 50px;
    text-align: center;
    padding: 13px 30px 13px 5px ;
}
nav .nav-menu > ul > li {
    list-style: none;
}
.logo {
    color:#E6533C ;
    font-weight: 800;
    font-size: 36px;
}
.home-btn {
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
}
.nav-item {
    font-size: 18px;
    font-weight: 400;
}

/* Hero-Section */
.hero-child1 {
    padding-bottom: 100px;
    width: 50%;
}
.hero-child2 {
    text-align: right;
    width: 50%;
}
.hero-title {
    font-size: 4rem;
    font-weight: 900;
    /* line-height: 80px; */
}
.title-special {
    font-family:Style Script ;
    font-size: 5rem;
    font-weight: 900;
}
.hero-description {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF80;
    /* width: 500px; */
    margin: 0 0 30px 0;
}
.btn2 {
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 10px;
}
.hero-card1 {
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.411);
    border-radius: 10px;
    padding: 15px 24px;
}
.hero-card1{
    position: absolute;
    top: 210px;
    right: 400px;
}
.hero-card-title {
    font-size: 40px;
    font-weight: 900;
    margin: 0px;
}
.hero-card-description {
    margin: 5px 0;
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFFA6;
}
.hero-card2 {
    position: absolute;
    bottom: 100px;
    right: 700px;
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.411);
    border-radius: 10px;
    padding: 15px 24px;
}
.hero-card2-container {
    display: flex;
    align-items: center;
}
.hero-card-title2 {
    font-size: 24px;
    font-weight: 900;
    margin: 0;
    text-align: left;
}
.hero-card-left {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0 ;
}
.fa-play{
    
}
/* Main Section */
main {
    max-width: 1060px;
    margin: auto;
}

.habit-items {
    margin: 70px 0;
}
.hibit-item-title {
    font-size: 18px;
    font-weight: 600;
    margin: 25px 0 10px 0;
}
.habit-image {
    border-radius: 100px;
}
/* Run section */
.run-container {
    background-color: #222222;
    padding: 40px 40px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.run-image {
    border-radius: 20px;
}
.run-child > .description {
    width: 75%;
}

/* Calculator-Section */

#calc {
 background-color: #222222;
 padding: 50px 0;
 margin: 0px;
}
.calc-info {
    width: 60%;
    margin: auto;
}
.calc-parents {
    gap: 9%;
}
.calc-child1 {
    width: 30%;
}
.calc-child2 {
    width: 60%;
}
table {
    border-collapse: collapse;
    text-align: left;
}
td, th {
    border: 1px solid rgb(206 206 206 / 24%);
    padding: 10px 20px;
}
td{
    font: 14px;
    color: rgba(206, 206, 206, 0.582);;
}


input, select {
    background-color: #424141c2;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 600;
    width: 39%;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}
select {
    width: 47%;
    padding-right: 20px;
}
.factor {
    background-color: #424141c2;
    color: #ffffff7a;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 600;
    width: 98%;
    border-radius: 10px;
    border: none;
}
input :first-child {
    
}
form {
text-align: center;
}

/* Team Section */
.team-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    padding: 30px;
    
}
.team-item {
    position: relative;
    padding: 30px;
    height: 272px;
    border-radius: 15px;
    
}
.team-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.team-item > h3 {
    position: absolute;
    bottom: 50px;
    left: 50px;
}
.team-item > p {
    position: absolute;
    bottom: 35px;
    left: 50px;
}

/* Footer Section */
#footer {
}
.footer-container {
    display: flex;
    gap: 50px;
}
.footer-item1 {
    width: 40%;
}

.footer-item > h4 {
    color: #FFFFFF80;
    font-size: 23px;
    font-weight: 400;
    margin: 20px 0;
}
.footer-item2, .footer-item3 {
    width: 30%;
}
.footer-item1 > .logo {
    font-size: 4.5rem;
    font-weight: 800;
    margin: 40px 0;
}
















@media only screen and (max-width: 576px){
    /* Hero Section */
    .hero-container {
        flex-direction: column;
    }
    .hero-title {
        font-size: 3rem;
    }
    i.fa-solid.fa-bars {
        display: inline-block;
    }
    .nav-list {
        display: none;
    }
    .hero-child1{
        width: 100%;
    }
    .hero-card1{
        top: 700px;
        right: 30px;
    }
    .hero-card2 {
        position: absolute;
        bottom: 150px;
        left: 20px;
        width: 40%;
        display: inline-block;
    }

    /* Habit-Section */
    .habit-items {
        flex-direction: column;
        gap: 50px;
    }
    
    /* Run Section */
    .run-container {
        flex-direction: column;
    }
    .run-image {
        width: 100%;
        margin-top: 20px;
    }

    /* Calculator */
    .calc-parents {
        flex-direction: column;
        text-align: center;
    }
    .calc-child1, .calc-child2 {
        width: 100%;
    }
    input {
        width: 30%;
    }

    /* Team Section */
    .team-container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Footer Section */
    .footer-container {
        flex-direction: column;
    }
    .footer-item {
        width: 100%;
    }
}